<a href="https://colab.research.google.com/github/subha9542/Datamining/blob/master/Data_mining_HW5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
eps = np.finfo(float).eps
from numpy import log2 as log
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [2]:
!pwd
df = pd.read_csv("HW5.csv")
df.head(5)

/content

  department  status     age    salary  count
0      sales  senior  31..35  46k..50k     30
1      sales  junior  26..30  26k..30k     40
2      sales  junior  31..35  31k..35k     40
3    systems  junior  21..25  46k..50k     20
4    systems  senior  31..35  66k..70k      5

In [15]:
#https://medium.com/@rakendd/decision-tree-from-scratch-9e23bcfb4928
def entropy(df,target_attribute):
    entropy_node = 0  #Initialize Entropy
    values = df[target_attribute].unique() 
    for value in values:
        fraction = df.groupby(['status'])['count'].agg('sum')[value]/sum(df['count'])
        entropy_node += -fraction*np.log2(fraction)
    print("entropy: ",round(entropy_node,4))
    return round(entropy_node,4)

def info_gain(df,attribute,target_attribute):
    target_variables = df[target_attribute].unique() 
    variables = df[attribute].unique()    
    entropy_attribute = 0
    for variable in variables:
        entropy_each_feature = 0
        for target_variable in target_variables:
            attribute_num = df.groupby(['status',attribute],as_index=False)['count'].agg('sum')
            num = attribute_num['count'][attribute_num[attribute]==variable][attribute_num[target_attribute]==target_variable].sum()
            attribute_den = df.groupby([attribute],as_index=False)['count'].agg('sum')
            den = attribute_den['count'][attribute_den[attribute]==variable].sum()
            fraction = num/(den+eps)  
            entropy_each_feature += fraction*log(fraction+eps) 
        fraction2 = den/df['count'].sum()
        entropy_attribute += -fraction2*entropy_each_feature   #Sums up all the entropy ETaste
    print("entropy_",attribute,":",round(entropy_attribute,4))
    return round(entropy(df,'status') - entropy_attribute,4)

print("Info_gain = ","using department :",info_gain(df,'department','status'))
print("Info_gain = ","using age :",info_gain(df,'age','status'))
print("Info_gain = ","using salary :",info_gain(df,'salary','status'))

entropy_ department : 0.8504
entropy:  0.899
Info_gain =  using department : 0.0486
entropy_ age : 0.4743
entropy:  0.899
Info_gain =  using age : 0.4247
entropy_ salary : 0.3615
entropy:  0.899
Info_gain =  using salary : 0.5375